/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/database.php
storage/framework/cache/data/5f/79/5f79ca28c5f23bb2bdee5c894f207355b5536cf9
storage/framework/cache/data/d9/c9/d9c9abbbcead925164804e1e5006a0cc44ddb903
storage/framework/cache/data/d9/c9/d9c9abbbcead925164804e1e5006a0cc44ddb903